.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

label:last-child{
  margin-left: 75px;
}

.strength-section {
  width: 30px;
  height: 10px;
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}