<div class="container">
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" (input)="calculateStrength()">

    <label for="password">Password strength:</label>
    <div class="strength-section" 
        [ngClass]="{'red': strengthLevel === 'red' && password.length < 8 || strengthLevel === 'simple', 
        'yellow': strengthLevel === 'yellow', 
        'green': strengthLevel === 'green', 
        'gray': strengthLevel === 'gray'}">
    </div>
    <div class="strength-section" 
        [ngClass]="{'red': strengthLevel === 'red' && password.length < 8, 
        'yellow': strengthLevel === 'yellow', 
        'green': strengthLevel === 'green', 
        'gray': strengthLevel === 'gray'}">
    </div>
    <div class="strength-section" 
        [ngClass]="{'red': strengthLevel === 'red' && password.length < 8, 
        'green': strengthLevel === 'green', 
        'gray': strengthLevel === 'gray'}">
    </div>
</div>

<label>{{ strengthLabel }}</label>

